html, body {
    height: 100%;
}

h1 {
    font-size: 7rem;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

h4 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    left: 326px;


}

#history-date {
    font-size: 20px;
}


form {
    width: 25%;
    justify-content: end;
    
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

select {
    width: 300px;
}

input {
    width: 300px;
}

body {
    background-image: url("/assets/background.jpg");
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

#history {
    display: flex;
    justify-content: center;
}

.delete-btn[type="submit"] {
    width: 100px;
    display: flex;
    justify-content: center;
}

label {
    color: #f5cac3;
}


#edit {
   margin: 0 auto;
}

#new {
    width: 300px;
}

#safeTimerDisplay {
    font-size: 50px;
}

#history-back {
    width: 100px;
}



@media (max-width: 400px) {
    body { background-attachment: fixed;}
    .container {left: 0;}
    #controls { display: flex;}
}





