<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Manas</h1>
    <h2>Your Daily Dose Of NOW</h2>
    <h3><%=event.date%></h3>
    <div class="data">
        <form action="/session" method="post">
        Name:<input type="text" name="name"><br>
        Date:<input type="date" name="date"><br>
        Duration:<input type="time" name="duration"><br>
        Type Of Meditation:  
        <select name="typeOfMeditation">
            <option value="Zen">Zen</option>
            <option value="Vipassana">Vipasaana</option>
            <option value="Kundalini">Kundalini</option>
            <option value="Visualization">Visualization</option>
        </select>  
        <br>
        Intention:<input type="text" name="intention"><br>
        Setting:<input type="text" name="setting"><br>
        <input type="submit">
        </form>
    </div>
    <div>
        <button type="button" onclick="start('Hello World!')">Start</button>
        <button type="button" onclick="start('Hello World!')">Stop</button>

    </div>
</body>
</html>
